{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 1,
    "react/destructuring-assignment": 1,
    "arrow-parens": 1,
    "indent": 1,
    "no-undef": 1,
    "prettier/prettier": 1,
    "react/no-unescaped-entities": 1,
    "prefer-template": 1
  }
}
